<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css">
    <title>BoolzApp</title>
</head>

<body>
    <div class="background">
        <div class="green-part"></div>
        <div class="grey-part"></div>

        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col-5 border p-0">
                        <div class="user d-flex justify-content-between align-items-center p-2">
                            <div class="thumbnail">
                                <img src="./img/avatar_io.jpg" alt="">
                                <span class="name fw-bold">Sofia</span>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-circle-notch fa-xl"></i>
                                <i class="fa-solid fa-message fa-xl"></i>
                                <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                            </div>
                        </div>
                        <div class="notifications p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    <div class="d-flex align-items-center">
                                        <div class="bell">
                                            <i class="fa-solid fa-bell-slash fa-xl"></i>
                                        </div>
                                        <div class="testo d-flex flex-column ms-2">
                                            <span class="">Ricevi notifiche di nuovi messaggi</span>
                                            <a href="" class="text-secondary">attiva le notifiche Desktop</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="search_user d-flex p-2 align-items-center">
                            <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                            <input class="border-0 form-control" type="text" placeholder="cerca o inizia una nuova chat">
                        </div>

                        <div class="message-list border-top">
                            <div class="  d-flex flex-column justify-content-between ">
                                <div class="users p-2 border-bottom" v-for="(contact, index) in contacts" :class="contact_switch === index ? 'active' : ''" @click="contact_switch=index">
                                    <div class="thumbnail d-flex align-items-center">
                                        <img :src="'/img/avatar' + contact.avatar + '.jpg'" alt="">
                                        <div class="testo d-flex flex-column ms-2">
                                            <span class="name fw-bold">{{contact.name}}</span>
                                            <span class="text-secondary">ultimo messaggio</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-7 border p-0">
                        <div class="receiver p-2 d-flex justify-content-between align-items-center">
                            <div class="">
                                <div class="thumbnail d-flex align-items-center">
                                    <img :src="'/img/avatar' + contacts[contact_switch].avatar + '.jpg'" alt="">
                                    <div class="testo d-flex flex-column ms-2">
                                        <span class="name fw-bold">{{contacts[contact_switch].name}}</span>
                                        <span class="text-secondary">ultimo accesso</span>
                                    </div>
                                </div>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                                <i class="fa-solid fa-paperclip fa-xl"></i>
                                <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                            </div>
                        </div>

                        <div class="message-container">

                            <div class="message rounded-3" :class="message.status === 'sent' ? 'green' : 'white'" v-for="message in contacts[contact_switch].messages">
                                <p>{{message.message}}</p>
                                <!--  <div class="time_message">{{message.date}}</div> -->
                            </div>


                        </div>

                        <div class="new-message d-flex justify-content-evenly align-items-center">
                            <i class="fa-regular fa-face-smile fa-xl"></i>
                            <input type="text" class=" message-input border-0 form-control"></input>
                            <i class="fa-solid fa-microphone fa-xl"></i>
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./app.js"></script>
</body>

</html>