* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    position: relative;
}

.green-part {
    height: 15vh;
    background-color: #039789;
}

.grey-part {
    height: 85vh;
    background-color: #D9DCD5;
}

.container {
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: #ebeaeb;
}

.thumbnail img {
    height: 70px;
    border-radius: 50%;
}

.icons i {
    color: #b1b0b0;
    margin-right: 20px;
}

.notifications {
    background-color: #8fdafd;
}

.bell {
    border-radius: 50%;
    color: #8fdafd;
    padding: 10px;
    background-color: white;
}

.search-icon {
    background-color: white;
    padding: 6px 20px;
    border-right: 1px solid #ebeaeb;
}

.message-list {
    overflow-y: scroll;
    max-height: 500px;
}

.users {
    background-color: white;
}

.message-container {
    background: url(./img/whats_bg.jpg);
    background-repeat: repeat;
    height: 560px;
    padding: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    width: 250px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 30px;
}

.green {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.white {
    background-color: white;
    align-self: flex-start;
}


/* .received {
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding: 1rem;
    margin-bottom: 30px;
} */

.new-message {
    height: 70px;
}

.message-input {
    width: 80%;
}